body{
    background-color: rgba(0,0,0, 90%);
    color:white;
}
#words{
    margin-top: 50px;
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(6, 50px);
    height: 300px;
    font-size: 1.5em;
}
.word{
    display: grid;
    position: relative;
    grid-template-columns: repeat(5, 47px);
    align-items: center;

}

.char{
    border: 2px solid rgba(255, 255, 255, 10%);
    color: white;
    text-align: center;
    height: 30px;
    width: 35px;
    padding: 5px 3px 7px 2px;
    font-family: Arial, Helvetica, sans-serif;
    perspective: 1000px;
    font-weight: 550;
    font-size: 1.2em;
    perspective: 1000px;
    transition: transform 0.6s;
}

.letter{
    /*transform: scale(1, -1);
    background-color: white;
    color: black;*/
    height: 1fr;
    width: 1fr;
}

.shake{
    animation: shake 0.5s;
}

@keyframes shake {
    0%{
    left: 0px
    }
    20%{
        left: -3px;
    }
    40%{
        left: 3px;
    }
    60%{
        left: -3px;
    }
    80%{
        left: 3px;
    }
    100%{
        left: 0px;
    }
}

.resize{
    animation: resize 0.2s;
}

@keyframes resize {
    0%{
    width: 35px;
    height: 30px;
    }
    50%{
        width: 37px;
        height: 32px;
    }
    100%{
        width: 35px;
        height: 30px;
    }
}

.result{
    width: fit-content;
    margin:auto;
    background-color: white;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.7em;
    padding: 5px;
    border-radius: 1px;
    margin-top: -20em;
    font-weight: 1000;
}

h1{
    width: fit-content;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}