body{
    background-color: black;
    color:white;
}
#words{
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(6, 50px);
    height: 300px;
    font-size: 1.5em;
}
.word{
    display: grid;
    position: relative;
    grid-template-columns: repeat(5, 45px);

}

.char{
    border: 2px solid rgba(255, 255, 255, 10%);
    color: white;
    text-align: center;
    height: 30px;
    width: 30px;
    padding: 3px;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.shake{
    animation: shake 0.5s;
}

@keyframes shake {
    0%{
    left: 0px
    }
    20%{
        left: -3px;
    }
    40%{
        left: 3px;
    }
    60%{
        left: -3px;
    }
    80%{
        left: 3px;
    }
    100%{
        left: 0px;
    }
}